<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a [routerLink]="['']" class="navbar-brand">OrderIQ</a>
    </div>
    <div
      class="collapse navbar-collapse"
      *ngIf="isLoggedIn()">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="purchase-order">My Purchase Orders</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="purchase-order/new">New Purchase Order</a>
        </li>
        <li routerLinkActive="active" *ngIf="isAdmin()">
          <a [routerLink]="['admin', 'supplier']">Suppliers</a>
        </li>
        <li routerLinkActive="active" *ngIf="isAdmin()">
          <a [routerLink]="['admin', 'budget']">Budgets</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!isLoggedIn(); else log_out">
          <a (click)="onLogInClick()" style="cursor: pointer;">Log In</a>
        </li>
        <ng-template #log_out>
          <li class="username">{{ getUserName() }}</li>
          <li class="spacer"> | </li>
          <li>
            <a (click)="onLogOutClick()" style="cursor: pointer;">Log Out</a>
          </li>
        </ng-template>
      </ul>
    </div>

  </div>
</div>
